html,
body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  background-color: #007fff;
}
header {
  background-color: #91c8ff;
}
#section1 {
  background-color: #b3d8fd;
}
#section2 {
  background-color: #5e86af;
}
#section3 {
  background-color: #6d9fd2;
}
main {
  background-color: #7da9d5;
}
footer {
  background-color: #588ec3;
}
