:root {
  --kleur1: #0d6efd;
  --kleur2: #198754;
  --kleur3: #0dcaf0;
  --kleur4: #ffc107;
  --kleur5: #dc3545;
  --kleur6: #ffffff;
  --kleur7: #cf04beb4;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.kleur-1 {
  color: var(--kleur1);
}
.kleur-2 {
  color: var(--kleur2);
}
.kleur-3 {
  color: var(--kleur3);
}
.kleur-4 {
  color: var(--kleur4);
}
.kleur-5 {
  color: var(--kleur5);
}
.kleur-6 {
  color: var(--kleur6);
}
li {
  list-style-type: none;
  border: grey solid 1px;
  background-color: lightgray;
  text-align: center;
  padding: 0.5rem;
  flex: 100%;
  margin-bottom: 1rem;
}
ul {
  margin: 0 2rem;
}
.lijst-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media only screen and (min-width: 576px) {
  .lijst-2 {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 768px) {
  .lijst-3 {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .lijst-4 {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  .lijst-5 {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1400px) {
  .lijst-6 {
    display: flex;
    flex-direction: row;
  }
  .kleur-xxl li {
    background-color: var(--kleur7);
  }
}
